/* Breadcumb Area CSS */

.fancy-breadcumb-area {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
}

.breadcumb-content {
    padding-top: 100px;
}

.breadcumb-content h2 {
    color: #fff;
    font-size: 48px;
}

.breadcumb-content p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}
/* Google Map */

#googleMap {
    width: 100%;
    height: 525px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.follow-us-area {
    margin-top: 40px;
}

.follow-us-area h2 {
    margin-bottom: 25px;
}

.follow-us-area > a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ddd;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
}

.contact-details-area > p {
    font-size: 16px;
}

.follow-us-area > a.facebook {
    background-color: #3a61c9;
}

.follow-us-area > a.twitter {
    background-color: #41a1f6;
}

.follow-us-area > a.google-plus {
    background-color: #fb4343;
}

.follow-us-area > a.instagram {
    background-color: #8f6247;
}

.contact-form .form-control {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    color: #b5aec4;
    border: 1px solid #ebebeb;
}

.contact-form .form-control:focus {
    border: 1px solid #7f7f7f;
}

.contact-form textarea.form-control {
    height: 80px;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
}

.breadcrumb li a {
    color: #fff;
}
